<h1>About</h1>
<p>This site is my One Month Rails project app that implements an application like Pinterest. With a very Pinterest-like app I wanted Painkiller to be specific to pins that bring happiness and peace to the users themselves and hopefully motivate others to find their non-substance painkillers. </p>